cachetools
certifi
chardet
cycler
et-xmlfile
google-auth
google-auth-oauthlib
gspread
idna
kiwisolver
lxml
matplotlib
multitasking
numpy
oauthlib
openpyxl
pandas
Pillow
plotly
pyasn1
pyasn1-modules
pyparsing
python-dateutil
pytz
requests
requests-oauthlib
retrying
rsa
scipy
seaborn
six
urllib3
yfinance
